<div class="row">
  <div class="col-md-4">
    <input type="text" class="form-control" placeholder="歌曲名">
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-default btnWider">搜索</button>
  </div>
</div>
<h4 class="index_h4">精选歌曲</h4>
<div>
  <img src="../images/index_banner.jpg" alt="">
</div>
<h4 class="index_h4">付费榜单</h4>
<div class="row" id="findSongsList"></div>
<!--购买版权弹框-->
  <div class="modal fade pmodal musicPlayAndBuy" tabindex="-1" id="buyCopy" role="dialog">

  </div>
<!--购买版权-确认支付弹框-->
  <div class="modal fade pmodal" tabindex="-1" id="buySure" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title index_pay">支付完成</h3>
        </div>
        <div class="modal-body index_pad">
          <h3 class="index_pay_style">支付完成！您可以到已购歌曲目录下查看购买的歌曲！</h3>
        </div>
        <div class="modal-footer index_txt_center">
          <button type="button" class="btn btn-danger" data-dismiss="modal">继续购买</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" id="indexBuyMusic">已购歌曲</button>
        </div>
      </div>
    </div>
  </div>
	<!--点击播放弹框-->
  <div class="modal fade pmodal musicPlayAndBuy" tabindex="-1" id="musicPlay" role="dialog">
  </div>
  <!--播放弹框点击确认支付弹框-->
  <div class="modal fade pmodal" tabindex="-1" id="buySure2" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title index_pay">支付完成</h3>
        </div>
        <div class="modal-body index_pad">
          <h3 class="index_pay_style">支付成功！</h3>
        </div>
        <div class="modal-footer index_txt_center">
          <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 歌曲列表模板 -->
  <script type="text/template" id="songs_list">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="row index_mar_right15 index_pad_top15 index_bgcolor">
        <div class="col-md-2"><img src="../images/index_left.png" alt=""></div>
        <div class="col-md-10">
          <div class="row"><div class="col-md-12">%s</div></div>
          <div class="row index_pad_top15">
            <div class="col-md-4 index_ellipsis">作者：<span>%n</span></div>
            <div class="col-md-2"><button type="button" data-action="play" data-num=1 data-val=%v class="btn btnModify per" data-toggle="modal" data-target='#musicPlay'>播放</button></div>
            <div class="col-md-3"><button type="button" data-action="buy" data-num=2 data-val=%v class="btn btnModify per" data-toggle="modal" data-target='#buyCopy'>购买版权</button></div>
            <div class="col-md-3">
              <button type="button" data-action="mess" data-val=%v class="btn btnModify per">详情</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>
  <script type="text/template" id="songs_play">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title index_pay">支付提示</h3>
        </div>
        <div class="modal-body index_pad">
          <h3 class="index_pay_style">您需要支付&nbsp<span>%s</span>&nbspEther&nbsp播放费用，我们将从您的账户中扣除！</h3>
          <p class="index_line32">账户余额：<span>%a</span>&nbspEther</p>
          <p class="index_line32">支付密码：<input id="passwordPlay" type="password" placeholder="输入支付密码"/></p>
        </div>
        <div class="modal-footer index_txt_center">
          <button data-action=%c data-value=%l data-num=%n type="button" class="btn btn-danger indexBuySure"  data-toggle="modal" data-target='#buySure2' data-dismiss="modal" id="indexBuySure">确认支付</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </script>
  <script type="text/template" id="songs_buy">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title index_pay">支付提示</h3>
        </div>
        <div class="modal-body index_pad">
          <h3 class="index_pay_style">您需要支付&nbsp<span>%s</span>&nbspEther&nbsp购买费用，我们将从您的账户中扣除！</h3>
		    	<p class="index_line32">账户余额：<span>%a</span>&nbspEther</p>
		    	<p class="index_line32">支付密码：<input type="password" placeholder="输入支付密码"/></p>
        </div>
        <div class="modal-footer index_txt_center">
          <button data-action=%c data-value=%l data-num=%n type="button" class="btn btn-danger indexBuySure"  data-toggle="modal" data-target='#buySure' data-dismiss="modal">确认支付</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </script>
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

  <script type="text/javascript" src='../js/bundle.js?t=33367768554448'></script>
